USE [master]
GO
/****** Object:  Database [journeydb]    Script Date: 5/4/2022 9:04:28 PM ******/
CREATE DATABASE [journeydb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'journeydb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\journeydb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'journeydb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\journeydb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [journeydb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [journeydb]
GO
/****** Object:  Table [dbo].[News]    Script Date: 5/4/2022 9:04:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[NewsTitle] [nvarchar](500) NULL,
	[NewsDescription] [nvarchar](500) NULL,
	[NewsCategory] [nvarchar](500) NULL,
	[DateOfPosting] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsCategory]    Script Date: 5/4/2022 9:04:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsCategory](
	[NewsCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[NewsCategoryName] [nvarchar](500) NULL
) ON [PRIMARY]
GO
USE [master]
GO
